<?xml version="1.0"?>
<phpunit
		backupGlobals="false"
		bootstrap="../../../vendor/squizlabs/php_codesniffer/tests/bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		processIsolation="false"
		stopOnFailure="false"
		verbose="true">
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">ITRocks/Sniffs</directory>
		</include>
	</coverage>
	<testsuite name="it.rocks">
		<directory>ITRocks</directory>
	</testsuite>
</phpunit>
